@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* New component styles can go here */
  
  :root {
    --neongreen: #B3FF00cc;
    --hover-bgcolor: var(--neongreen);
    --hover-txtcolor: #000;
    --product-hover-bgcolor: #E5F3FF;
    --product-hover-txtcolor: #3300FF;
    /* --gradient-caterpillar-color: #19cc33; */
  }

  ::-webkit-scrollbar {
    display: none;
  }

  #mainContent {
    height: 100vh;
    width: 100vw;
  }

  .svg-slide {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    /* height: calc(100vh - 64px); */
    position: relative;
    top: 0;
    left: 0;
    /* visibility: hidden; */
  }

  .svg-slide path {
    position: relative;
    /* stroke: none; */
  }
  
  .w-half {
    width: 50%;
  }

  .w-fit-content {
    width: fit-content;
  }

  .h-half {
    height: 50%;
  }

  .h-fit-content {
    height: fit-content;
  }

  .w-min-content {
    width: min-content;
  }

  .left-0 {
    left: 0;
  }

  .right-0 {
    right: 0;
  }

  .bottom-0 {
    bottom: 0;
  }

  .border-black-500 {
    --tw-border-opacity: 1;
    border-color: rgb(0 / var(--tw-border-opacity));
  }

  .non-rounded {
    border-radius: 0;
  }

  .p-2 {
    padding: 0.5rem;
  }

  .p-3 {
    padding: 0.75rem;
  }

  .z-bg {
    z-index: -1;
  }

  .col-unset {
    color: unset;
  }

  .col-hover {
    color: var(--hover-txtcolor);
  }

  .bg-unset {
    background: unset;
  }

  .bg-hover {
    background-color: var(--hover-bgcolor);
  }

  .cursor-next {
    cursor: e-resize;
  }

  .cursor-prev {
    cursor: w-resize;
  }

  .prevent-scroll {
    overflow-anchor: none;
  }

  .react-p5-wrapper {
    display: block;
    position: fixed;
    /* top: 64px; */
    top: 0;
    left: 0;
    z-index: -1;
    /* background-image: url('../img/KAPU8_1296x.webp'); */
    /* background-color: #000; */
    background-size: cover;
  }

  #defaultCanvas0 {
    mix-blend-mode: multiply;
  }

  .product-hover {
    background-color: var(--product-hover-bgcolor);
    color: var(--product-hover-txtcolor);
  }

  .font-fa {
    font-family: "fa";
  } 

  nav {
    position: relative;
    top: 0;
    height: 100%;
    right: 5vw;
    transform: translateY(-280px);
  }

  .nav-link {
    font-family: "Director-Light";
    font-size: 1em;
    text-align: center;
    display: block;
    height: 40px;
    width: 160px;
    padding: 10px 4px;
    /* font-weight: 600; */
    text-transform: lowercase;
    /* letter-spacing: -0.05em; */
  }

  .product-blur {
    filter: blur(6px);
  }

  .bubble {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 50.52%, rgba(166, 212, 13, 0.68) 100%);
    /* background: radial-gradient(50% 50% at 50% 50%, #003E83 80.19%, #96bfe600 100%); */
  }

  .featured-image {
    /* mix-blend-mode: multiply; */
  }

  #featured-image-0 {
    top: 80px;
    left: 120px;
    transform: rotate(-2deg);
  }

  #featured-image-1 {
    bottom: 30px;
    left: 30px;
    transform: rotate(-6deg);
  }

  #featured-image-2 {
    left: -4px;
    top: 40%;
    transform: rotate(5deg);
  }

  #featured-image-3 {
    top: -4px;
    left: 60%;
    transform: rotate(-1deg);
  }

  #featured-image-4 {
    right: -10px;
    top: 20%;
    transform: rotate(1deg);
  }

  #featured-image-5 {
    bottom: 40px;
    right: 10px;
    transform: rotate(-2deg);
  }

  #featured-image-6 {
    bottom: 10px;
    left: 270px;
    transform: rotate(1deg);
  }
  
  #selected-product-price {
    /* font-size: 2.5em; */
    letter-spacing: -0.04em;
  }

  .romantic {
    font-family: "romantic";
    letter-spacing: 0.1em;
    color: var(--gradient-caterpillar-color);
  }

  .fa {
    font-family: "fa", "iota-light";
    text-transform: uppercase;
    /* letter-spacing: -0.1em; */
  }

  .iota-light {
    font-family: 'iota-light';
  }

  .iota-md {
    font-family: 'iota-medium';
  }

  .iota-book {
    font-family: 'iota-book';
  }

  .gradient-circle {
    background: radial-gradient(50% 50% at 50% 50%, var(--gradient-caterpillar-color) 68.75%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: darken;
  }

  .homepage-title {
    /* display: none; */
    /* color: #00000055; */
    /* color: #ffffff;
    text-shadow: 0px 0px 24px #003dff;
    filter: drop-shadow(0 0 20px #003dff);
    -webkit-filter: drop-shadow(0 0 20px #003dff) blur(0.8px); */
  }

  .homepage-title-mobile {
    display: block;
    /* color: #ffffff;
    text-shadow: 0px 0px 12px #003dff;
    filter: drop-shadow(0 0 6px #003dff);
    -webkit-filter: drop-shadow(0 0 16px #003dff); */
  }
  
  .caterpillar-indicator-mobile {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
  }
}
