@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* New component styles can go here */
  
  :root {
    --neongreen: #B3FF00cc;
    --hover-bgcolor: var(--neongreen);
    --hover-txtcolor: #000;
    --product-hover-bgcolor: #E5F3FF;
    --product-hover-txtcolor: #3300FF;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  svg {
    margin: 0 auto;
    width: 100%;
    /* height: auto; */
    height: calc(100vh - 64px);
    position: relative;
    top: 0;
    left: 0;
    /* visibility: hidden; */
  }

  path {
    stroke: none;
  }
  
  .w-half {
    width: 50%;
  }

  .w-fit-content {
    width: fit-content;
  }

  .h-fit-content {
    height: fit-content;
  }

  .w-min-content {
    width: min-content;
  }

  .left-0 {
    left: 0;
  }

  .right-0 {
    right: 0;
  }

  .bottom-0 {
    bottom: 0;
  }

  .border-black-500 {
    --tw-border-opacity: 1;
    border-color: rgb(0 / var(--tw-border-opacity));
  }

  .non-rounded {
    border-radius: 0;
  }

  .p-2 {
    padding: 0.5rem;
  }

  .p-3 {
    padding: 0.75rem;
  }

  .z-bg {
    z-index: -1;
  }

  .col-unset {
    color: unset;
  }

  .col-hover {
    color: var(--hover-txtcolor);
  }

  .bg-unset {
    background: unset;
  }

  .bg-hover {
    background-color: var(--hover-bgcolor);
  }

  .cursor-next {
    cursor: e-resize;
  }

  .cursor-prev {
    cursor: w-resize;
  }

  .prevent-scroll {
    overflow-anchor: none;
  }

  .react-p5-wrapper {
    display: block;
    position: fixed;
    top: 64px;
    left: 0;
    z-index: -1;
  }

  .product-hover {
    background-color: var(--product-hover-bgcolor);
    color: var(--product-hover-txtcolor);
  }

  .font-fa {
    font-family: "fa";
  }

}
